@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<h1>@localizer["Merhaba"] bugün hava çok sıcak ve bunaltıcı.Hava durumu şu anda 30 derecenin üstünde gözüküyor</h1>

